:root {
    --bg-dark: #161717;
    --sidebar: #1a1a1a;
    --card: #242424;
    --text: #e0e0e0;
    --accent1: #38bdf8;
    --accent2: #a855f7;
    --accent3: #22d3ee;
    --surface: #2d2d2d;
    --border: #404040;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GERAL */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-dark);
    color: var(--text);
    display: flex;
    line-height: 1.6;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
    border-right: 1px solid var(--border);
    justify-content: center;
    align-items: center;
}

.sidebar:hover {
    width: 250px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    color: #b0b0b0;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 8px;
    margin: 0 10px;
}

.sidebar a:hover {
    color: var(--accent2);
    background: var(--surface);
    transform: translateX(5px);
}

.sidebar i,
.sidebar .material-symbols-outlined {
    font-size: 22px;
    min-width: 50px;
    justify-content: center;
}

.sidebar span.text {
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover span.text {
    opacity: 1;
}

#logout-theme {
    margin-top: auto;
    width: 100%;
}

#theme-toggle{
    margin-top: auto;
}



.malweeIMG {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.main {
    margin-left: 80px;
    width: calc(100% - 80px);
    padding: 30px;
    transition: margin-left 0.3s ease;
}

.sidebar:hover~.main {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.main {
    margin-left: 80px;
    width: calc(100% - 80px);
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar:hover~.main {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.header h1 {
    font-size: 22px;
    font-weight: bold;
}

.header .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-size: 14px;
    color: #aaa;
}

.cards-top {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.cards-tops {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-left: 20px;
}

.card-top {
    background: var(--card);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
    margin-left: 1vh;
}

.card-top:hover {
    transform: scale(1.02);
}

.card-topo {
    background: var(--card);
    padding: 35px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-malwee {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
    object-fit: contain;
}

.card-top:nth-child(1) {
    border-top: 3px solid var(--accent1);
}

.card-top:nth-child(2) {
    border-top: 3px solid var(--accent2);
}

.card-top:nth-child(3) {
    border-top: 3px solid var(--accent3);
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.dashboard2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-top: 0;
}

.block {
    background: var(--card);
    padding: 40px;
    border-radius: 10px;
    height: 350px;
    max-height: 350px;
    overflow: hidden;
}

.block h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.light-theme {
    --bg-dark: #f5f5f5;
    --sidebar: #e0e0e0;
    --card: #ffffff;
    --text: #111;
    --accent1: #0ea5e9;
    --accent2: #9333ea;
    --accent3: #06b6d4;
}

.theme-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: var(--accent2);
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    margin: auto;
}

.theme-btn:hover {
    background: var(--accent1);
}

.search-bar-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 10px 20px 20px 20px;
}

.search-bar-top input {
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    background-color: #2a2a2a;
    color: var(--text);
    width: 250px;
}

.search-bar-top input::placeholder {
    color: #aaa;
}

.search-bar-top button {
    height: 40px;
    background-color: var(--sidebar);
    border: none;
    padding: 0 12px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-malwee {
    flex: 1;
    text-align: center;
}

.light-theme .search-bar-top input {
    background-color: #f1f5f9;
    color: var(--text);
    border: 1px solid #cbd5e1;
}

.light-theme .search-bar-top input::placeholder {
    color: #94a3b8;
}

.light-theme .search-bar-top button {
    background-color: var(--accent2);
    color: white;
}

.light-theme .search-bar-top button:hover {
    background-color: var(--accent1);
}