:root {
    --bg-dark: #1e1e1e;
    --sidebar: #151515;
    --card: #222222;
    --text: #f1f1f1;
    --accent1: #38bdf8;
    --accent2: #a855f7;
    --accent3: #22d3ee;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-dark);
    color: var(--text);
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: var(--sidebar);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.sidebar:hover {
    width: 250px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    color: #aaa;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    transition: background 0.2s, color 0.2s;
}

.sidebar a:hover {
    color: var(--accent2);
}

.sidebar i,
.sidebar .material-symbols-outlined {
    font-size: 22px;
    min-width: 50px;
    text-align: center;
}

.sidebar span.text {
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.2s;
}

.sidebar:hover span.text {
    opacity: 1;
}

.main {
    margin-left: 80px;
    width: calc(100% - 80px);
    transition: margin-left 0.3s ease;
}

.sidebar:hover~.main {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.sidebar i {
    font-size: 22px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar i:hover {
    color: var(--accent2);
}

#logout-theme {
    margin-top: auto;
    width: 100%;
}


#theme-toggle:hover {
    background-color: #333;
}

.malweeIMG {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.main {
    flex: 1;
    padding: 20px;
}

.header h1 {
    font-size: 22px;
    font-weight: bold;
}

.header .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    font-size: 14px;
    color: #aaa;
}

.cards-top {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.cards-tops {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.card-top {
    flex-direction: column;
    background: var(--card);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-topo {
    flex: 1;
    background: var(--card);
    padding: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-malwee {
    margin-left: 80px;
    max-width: 30px;
    max-height: 60px;
    object-fit: contain;
}

.card-top:nth-child(1) {
    border-top: 3px solid var(--accent1);
}

.card-top:nth-child(2) {
    border-top: 3px solid var(--accent2);
}

.card-top:nth-child(3) {
    border-top: 3px solid var(--accent3);
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.dashboard2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-top: 0;
}

.block {
    background: var(--card);
    padding: 40px;
    border-radius: 10px;
    height: 350px; 
    max-height: 350px;
    overflow: hidden;
}


.block:nth-child(3),
.block:nth-child(4),
.block:nth-child(5) {
    grid-column: auto;
}

.block h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.light-theme {
    --bg-dark: #f5f5f5;
    --sidebar: #e0e0e0;
    --card: #ffffff;
    --text: #111;
    --accent1: #0ea5e9;
    --accent2: #9333ea;
    --accent3: #06b6d4;
    --search-bg: #eaeaea;
}

.theme-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: var(--accent2);
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.2s;
    margin-top: 12px;
    margin-left: 20px;
}

.theme-btn:hover {
    background: var(--accent1);
    transform: scale(1.05);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.search-bar-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 10px 20px 20px 20px;
}

.search-bar-top input {
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    background-color: var(--search-bg);
    color: var(--text);
    width: 250px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.search-bar-top input::placeholder {
    color: #aaa;
}

.search-bar-top button {
    height: 40px;
    background-color: var(--sidebar);
    border: none;
    padding: 0 12px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.search-bar-top button:hover {
    background-color: #cfcfcf;
}