* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('../img/Malwee.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.login-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

.login-container p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #d1d1d1;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #ccc;
}

.senha-esquecida {
    text-align: right;
    margin-bottom: 20px;
}

.senha-esquecida a {
    font-size: 14px;
    color: #a8dadc;
    text-decoration: none;
}

.senha-esquecida a:hover {
    text-decoration: underline;
}

.login-Button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #a178f1;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: none;      
    outline: none;      
    cursor: pointer;    
}
.login-Button:hover {
    background-color: #8554e9;
}

.registrar {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

.registrar a {
    color: #fcbf49;
    text-decoration: none;
    font-weight: bold;
}

.registrar a:hover {
    text-decoration: underline;
}
